services:

  forgejo:
    image: codeberg.org/forgejo/forgejo:${FORGEJO_VERSION:-13}
    env_file: environment.d/forgejo.env
    environment:
      FORGEJO__database__DB_TYPE: ${DATABASE_TYPE:-postgres}
      FORGEJO__database__HOST: ${DATABASE_HOST:-database}:${DATABASE_PORT:-5432}
      FORGEJO__database__NAME: ${DATABASE_NAME:-forgejo}
      FORGEJO__database__USER: ${DATABASE_USER:-forgejo}
      FORGEJO__database__PASSWD: ${DATABASE_PASSWORD}
      USER_UID: ${HOST_UID}
      USER_GID: ${HOST_GID}
    volumes:
      - ${FORGEJO_DATA_PATH:-./volumes/forgejo}:/data
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    ports:
      - ${FORGEJO_WEB_PORT:-3000}:3000
      - ${FORGEJO_SSH_PORT:-22}:22
    labels:
      com.centurylinklabs.watchtower.scope: ${COMPOSE_PROJECT_NAME}
    restart: unless-stopped

  database:
    image: postgres:${POSTGRES_VERSION:-17}
    env_file: environment.d/database.env
    environment:
      POSTGRES_USER: ${DATABASE_USER:-forgejo}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_DB:-forgejo}
    volumes:
      - ${POSTGRES_VOLUME:-postgres-data}:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      test: pg_isready -d ${DATABASE_NAME:-forgejo} -U ${DATABASE_USER:-forgejo}
    labels:
      com.centurylinklabs.watchtower.scope: ${COMPOSE_PROJECT_NAME}
    restart: unless-stopped

  database-backups:
    image: prodrigestivill/postgres-backup-local:${POSTGRES_BACKUP_VERSION:-${POSTGRES_VERSION:-17}}
    env_file: environment.d/database-backups.env
    environment:
      POSTGRES_HOST: ${DATABASE_HOST:-database}
      POSTGRES_DB: ${DATABASE_NAME:-forgejo}
      POSTGRES_USER: ${DATABASE_USER:-forgejo}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_EXTRA_OPTS: '--clean --if-exists'
      BACKUP_DIR: /backups
    volumes:
      - ${DATABASE_BACKUPS_PATH:-./volumes/backups}:/backups
      - /etc/localtime:/etc/localtime:ro
    depends_on: [database]
    restart: unless-stopped

  watchtower:
    image: containrrr/watchtower:${WATCHTOWER_VERSION:-latest}
    env_file: environment.d/watchtower.env
    environment:
      WATCHTOWER_SCOPE: ${COMPOSE_PROJECT_NAME}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    labels:
      com.centurylinklabs.watchtower.scope: ${COMPOSE_PROJECT_NAME}
    restart: unless-stopped

volumes:
  postgres-data: {}
